:host {
  --cursor-color: #000000;
}

:host:after {
  animation: blink 1s linear infinite;
  content: '';
  position: absolute;
  transform: translateY(0.05em);
  width: 0.1em;
  height: 1em;
  background-color: var(--cursor-color);
  display: inline-block;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
