:host:after {
  content: '|';
  font-weight: bold;
  animation: blink 1s linear infinite;
  position: absolute;
  transform: translateY(-0.1em);
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
